<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Header Starts -->
    <div class="navbar-wrapper">
        <div class="navbar-inverse" role="navigation">
            <div class="container">
               
                <!-- Nav Starts -->
                <div class="navbar-collapse  collapse">
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Home/Index">Home</a></li>
                        <li><a href="about.php">About</a></li>
                        @if (Session["login"] != null)
                        {
                            <li><a href="~/User/Login/LogOut">@HomeShareMVC.Helper.Utils.Login</a></li>
                        }
                        else
                        {
                            <li class="active"><a href="~/User/Login/LoginForm">Login</a></li>
                            <li><a href="~/User/Inscription/InscriptionForm">Inscription</a></li>
                        }

                    </ul>
                </div>
                <!-- #Nav Ends -->

            </div>
        </div>

    </div>
    <!-- #Header Starts -->

    <div class="container">
        
    </div>

    @RenderBody()
    <hr />
    @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    <div class="footer">

        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <h4>Information</h4>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Newsletter</h4>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Suivez-nous</h4>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Contactez-nous</h4>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
